.login-page {
    background-size: cover;
    background: url("https://user-images.githubusercontent.com/33485020/108069438-5ee79d80-7089-11eb-8264-08fdda7e0d11.jpg") no-repeat left;
}

.login-page:before{
    content: '';
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.login-page-box {
    padding: 50px;
    margin-bottom: 10px;
    /*width: 30vw;*/
    text-align: center;
    border-radius: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}