.carousel-container {
    overflow: hidden;
    height: 430px;
}

@media (max-width: 480px) {
    .carousel-container {
        height: 330px;
        display: flex;
        justify-content: space-between;
    }
}